body {
    font-family: Arial, sans-serif;
}
h2{
    color:white;

}

.container {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #065c5c;
    width: 500px;
    min-height: 500px; /* Set the fixed portion height */
    max-height: 100%; /* Set the maximum height */
    overflow-y: auto; /* Add a scrollbar if the content exceeds max-height */
}

.main {
    width: calc(300px + 10px); /* Set the width as needed */
    margin: 10px auto; /* Center the .main class */
    display: flex;
}

p-button{
    margin-left: 10px;
  }
  


.todos-list {
    width: 310px; /* Set the width the same as .main */
    display: flex;
    align-items: center;
    gap:30px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px auto; /* Center the .todos-list class */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(207, 31, 31, 0.1);
}
.todos-list:hover {
    background-color: rgb(195, 231, 65);
}

.task-item {
    margin: 0;
}

.completed {
    background-color: #37e479;
}
.completed h3{
    opacity: 0.7;
    text-decoration: line-through;
}

.pi {
    cursor: pointer;
}

.pi-check:hover {
    color:rgba(0, 16, 245, 0.966);
}


